#forecast
  table
    td, th
      padding: 0 .5rem!important

    th
      color: $primary
      font-size: 1.2rem
      text-transform: capitalize
      font-variant: small-caps

    td.icon
      font-size: 1.3rem

    td.temperature
      color: $gray
